[2015-11-19 01:09] cali0028 opened #1 "Question"
Not sure where else to put this but I thought I ask here.

With this plug-in do you still need to use the hashtag command when using siri?

thanks

[2015-11-19 04:37] ilcato commented on #1
not sure to understand the question ...

[2015-11-19 12:55] cali0028 commented on #1
So today if we want d to use ifttt via Siri we would say "Siri send a message to (ifttt number) #garahe" for example to open a garage door.

So I was wondering if it's the same case.

[2015-11-19 14:13] ilcato commented on #1
Ok, with this solution you can say "turn on garageopen " to activate a corresponding trigger on the Maker channel. You can then create a recipe to call the outbound garage channel

[2015-11-19 15:32] cali0028 commented on #1
Hmmm okay now I've to plan and figure out how to do this on the smartthings hub

[2015-11-19 18:31] WilliamHF opened #2 "IFTTT Switch actions"
Hi,

Congrats for the great job with this module.

Just a remark, I am using the homebridge-ifttt for switches, and therefore I have to create two distinct accessories for switching on / switching off actions. (As currently, translated into any HomeKit app, both On and Off buttons will launch the same trigger).
Perhaps you could develop different types of accessories, keeping this push-button beha

[2015-11-19 18:41] #1 closed

[2015-11-19 18:44] ilcato commented on #2
Ok, no problem in defining a different kind of accessory that maps to a Switch. Do you think that it is better to have two different Maker triggers for on and off status or to have the same trigger with a value parameter that transmit the status (on/off) ?

[2015-11-19 19:00] WilliamHF commented on #2
Hi Ilcato, thanks for your quick answer.

I believe the maker channel on ifttt uses only the event name trigger for an action, and anyway the optional value parameters are not passed to the "then" channels that I use, so yes for now I think 2 different triggers would be my only option.
Much appreciated!

[2015-11-20 14:53] ilcato commented on #2
Done in version 0.2.0.
@WilliamHF can you test it with your configuration?
You need to specify both "triggerOn" and "triggerOff" parameter and not "trigger" in order to obtain the bistable switch behavior.

[2015-11-22 22:02] cali0028 opened #3 "Setup question"
So I've installed the plug in but still trying to get my heads around how this supposed to work.
- I've installed the plug in
- Here is my input on my config file
      {
          "platform": "IFTTT",
          "name": "IFTTT",
          "makerkey": "My Key is here from IFTTT/Maker",
          "accessories": [
              {
                  "name": "Garage",
                  "buttons": [

[2015-11-23 06:22] ilcato commented on #3
You can say something like this: "Activate Open_Garage".
In order to not confuse Siri it is better to assign a more unambiguous caption to the buttons.

[2015-11-23 14:39] cali0028 commented on #3
So if I had labeled it "Open Garage" rather than "Open_Garage", I should say "Activate Open Garage" Rather than "Activate Open_Garage"?

Also does the Code look okay, meaning the way I've written it?

Thanks

[2015-11-23 14:44] ilcato commented on #3
No, I suggested to not using words like Open or similar because it can confuse Siri.
The configuration code seems ok to me.

[2015-11-23 14:45] cali0028 commented on #3
Ah okay! Thank you! I'll give that a try tonight. Sorry this is IFTTT and maker is new to me.

[2015-11-25 23:54] WilliamHF commented on #2
Hi ilcato,

Sorry for the late answer. Just updated and tried it, it works perfectly ! Brilliant ! "Turn/switch on" and "turn/switch off" commands seem indeed more natural now !

Thanks a lot,

[2015-11-27 17:27] ilcato commented on #3
If you want to generate a trigger with a momentary switch you need to define in the config file only the parameter trigger associated to a button. If you want to generate a trigger when a button is on and another trigger (or the same trigger) when the button goes off you need to specify the triggerOn and triggerOff parameter.

[2015-12-24 19:02] csawall opened #4 "Uninstall failing"
Is there a way to uninstall?  I'm trying to set up a new build and the uninstall command is not working for this specific module.

CMD:
sudo npm uninstall -g homebridge-ifttt

ERROR:
npm WARN uninstall not installed in /usr/local/lib/node_modules: "homebridge-ifttt"

Thanks!
chris

[2015-12-24 19:19] csawall commented on #4
Scratch that.  I failed to recall that I already removed it...  Long day...

[2015-12-24 19:19] #4 closed

[2016-02-03 06:44] armins2k commented on #2
Hello,

first of all great work! I'm using the ifttt channel to arm and disarm my alarm system and it works perfectly. I can use scenes or siri commands, no problem.
But is it possible to make the On/Off switches to keep there current status? Right now if I use the On switch it always resets to Off again. Would be nice to see the switch in its On position when using one of the homekit apps.

Thank

[2016-02-03 08:22] ilcato commented on #2
@armins2k: are you using a triggerOn/triggerOff couple of only a trigger parameter? In the first case the switch should remain in the status you set.

[2016-02-03 11:07] armins2k commented on #2
I'm using triggerOn triggerOff and the triggers work fine. Only within apps like Elgato Eve, the On switch always resets to Off after activating it and refreshing.

Here is part of my config file:

...

, {
"platform": "IFTTT",
"name": "IFTTT",
"makerkey": "*****************",
"accessories": [{
"name": "Überwachung",
"buttons": [{
"caption": "Überwachung",
"triggerOn": "ÜberwachungOn",
"triggerOff

[2016-02-03 11:12] ilcato commented on #2
Understood.
The problem is that when you refresh or when you enter the panel of a switch I have no way to understand what the status of the switch is: I cannot inquire IFTTT on this.
The only possible solution is to persist the status info in homebridge but it can easily became misaligned if you operate on the device without homebridge.

[2016-02-03 11:32] armins2k commented on #2
Okay, thanks for the info! Makes sense.
So how can I achieve it that homebridge keeps the buttons status?

[2016-02-03 11:56] ilcato commented on #2
The plugin must be extended with this functionality :-)

[2016-02-03 12:26] armins2k commented on #2
I see I see, probably I'm not skilled enough for that. Any chance of seeing it implemented in a future version?

Thanks for the fast assistence!

[2016-02-03 12:27] ilcato commented on #2
It's on my to do list ...

[2016-02-05 04:24] blynkkk opened #5 "Is it possible to set the value in range and request a value?"
Awesome plugin! Great job, really.

Could you please provide an example of how the JSON configuration would look for this cases?
Example:
- Siri, what's the humidity level?
- Humidity is 38%

------
- Siri, set the bedroom lights to 50%
- Done

Thank you, @ilcato

[2016-02-05 09:29] ilcato commented on #5
@blynkkk: with this plugin you are only able to activate a trigger on an IFTTT Maker Channel.

It is possible to develop a mapping to for example an HomeKit accessory of type Lightbulb in order to communicate to the Channel also a value. The problem is querying the Channel for a current value.

So: currently your two scenarios are not possible with this plugin.

Do you have same specific recipes i

[2016-02-09 13:27] blynkkk commented on #5
We at [Blynk](http://blynk.cc) just thinking about the easiest way to connect Siri to the app, so were exploring different options.

My thinking was having not only a trigger, but also a query, that will return value. For example, if I have a humidity sensor, connected to my Arduino, I could create a recipe to ask Siri about the humidity level.

I think that this indeed is out of scope for your wo

[2016-02-09 14:20] ilcato commented on #5
I understand.
I think that the best way to integrate Siri with Blynk (I'm testing it from some time now) is to develop an homebridge plugin for the Blynk Server.
I will create a PoC it in the next few days.

[2016-02-09 17:44] snehalnayan opened #6 "Issues with triggering Siri"
Hi,

I was successfully able to install homebridge.
I created a maker channel trigger on IFTTT.

I used insteon+ as an app to detect and connect home bridge successfully.
Using insteon+ I can easily trigger my IFTTT turn on and turn off events.
I can see it on my console logs as well.

But nothing works using SiRi.

Here is the set up.
I have tried all combinations Fragrance, Activate Fragrance bu

[2016-02-09 18:29] ilcato commented on #6
What does Siri respond to "turn on Fragrance" ?

[2016-02-09 21:33] theboyk opened #7 "Help with configuration file..."
Just wondering if I could get a little assistance with the config to connect Homebridge to a couple of channels for controlling an alarm (setting it to ARM or DISARM). I have two IFTTT Channels, as follows:

Channel Name: ArmAlarm
Trigger: Receive a web request
Event Name: Arm_Alarm
URL: https://maker.ifttt.com/trigger/Arm_Alarm/with/key/xxx

Channel Name: DisarmAlarm
Trigger: Receive a web reques

[2016-02-09 21:40] ilcato commented on #7
I'm assuming you put your Maker key in "PUT KEY OF YOUR MAKER CHANNEL HERE".

1. the event name is mapped on the trigger parameter (use trigger and not triggerOn; triggerOn is used together with triggerOff in order to have a bistable switch and not a push button; but currently there's no way to keep the status)
2. caption. caption is also used in the UI of HomeKit apps.
3. turn on "caption"

[2016-02-09 22:38] snehalnayan commented on #6
Ok got it to work.

"name": "Fragrance",
        "buttons": [
          {
            "caption": "Fragrance",
            "triggerOn": "Fragrance On",
            "triggerOff": "Fragrance Off"
          },{

And now if I say Siri, turn fragrance on it works !!!
Thanks for the help and the so very helpful API.

[2016-02-09 22:38] #6 closed

[2016-02-09 23:15] theboyk commented on #7
Yep, actual key is in the working code. :)

Re: Caption & "talking" to Siri. So, is there a set of commands you can speak? For example, saying "Siri, turn on Disarm Alarm" is kinda weird. Instead, Could I caption the disarm trigger something like "DISABLED MODE" (for the accessory MY ALARM) and then say something like "Siri, set MY ALARM to DISABLED MODE" or "Siri, activate DISABLED MODE on MY ALA

[2016-02-11 08:57] ilcato commented on #5
@blynkkk : have a look at [https://www.npmjs.com/package/homebridge-blynk](url)
It currently manage pins through an HomeKit switch.

[2016-02-11 11:16] ilcato commented on #7
You can define an HomeKit scene that activate the switch.

You can invoke a scene via Siri with "activate scene_name" or if the scene_name is not ambiguous or overlapped with other Siri commands simply by saying "scene_name".

[2016-02-11 14:29] theboyk commented on #7
Thanks.

I have it working via the following code:

[code]

But, still having issues with regards to issuing the commands via Siri. The only way I can get it to work is to say "Turn on armed" or "Turn on disarmed". I tried endless other combinations and nothing worked.

Once thing I did notice, though, is that in the iOS app ([Devices](https://itunes.apple.com/us/app/devices/id966877433?mt=8&ign-m

[2016-02-11 14:38] ilcato commented on #7
HomeKit scenes are replicated automatically between iOs devices provided all devices are associated to the same iCloud account.

[2016-02-11 16:32] theboyk commented on #7
Yeah, problem for me is, I gotta do this for the whole family, and each member has their own iCloud account (was hoping it would take into account Family Sharing, but doesn't seem to).

[2016-02-11 16:33] ilcato commented on #7
what happens if you invite them through HomeKit setup panel for your home?

[2016-02-11 16:58] theboyk commented on #7
Yep...had no clue that option existed until about 5 minutes ago, so that solves that problem. Thanks!

[2016-02-14 18:31] #5 closed

[2016-02-14 18:31] blynkkk commented on #5
Thanks for moving with it!

[2016-05-17 02:21] cordell25 commented on #7
I am having the same problems with the siri commands.  Have you figured out a good combination of names and verbiage to use?

[2016-05-17 04:35] ilcato commented on #7
@cordell25, which problem?

[2016-05-18 03:08] cordell25 commented on #7
@ilcato
In the config.json file you have a couple places you can make descriptions:
name: "myName"
caption: "myCaption"

So what I'd like to understand is what are the Siri commands to allow me to reference the name and caption that I define to trigger this IFTTT recipe?

It would be nice to have a list of options that will work, filling in the blanks for the user defined name and caption.

[2016-05-18 04:54] ilcato commented on #7
the "caption" value is the one that Siri recognize. So you can say something like "Turn on myCaption".
As I mention in the previous posts you can create HomeKit scenes that refer to the device and activate it by saying "Activate sceneName" provided sceneName is the name that you choose for the scene.

[2016-05-22 06:08] cordell25 commented on #7
I think maybe siri is getting confused when I use the name of the device I am controlling (Homeboy) which is also an app on my phone.  It may be trying to interact with the app instead of the homebridge command.

Forgetting about that issue, how would you suggest I setup the ability to "arm" and "disarm" my security camera (which is called a Homeboy).  I have setup two maker IFTTT recipes to trigg

[2016-05-22 19:57] ilcato commented on #7
The easiest way is to create scenes the call the IFTTT switches.

[2016-06-04 08:46] toshibochan opened #8 "how to setup"
hi.
i was able to get key but how to link to my recipe i have on my ifttt account?

[2016-06-04 08:58] ilcato commented on #8
You need to create a recipe with the maker channel as a trigger.

[2016-06-04 09:58] toshibochan commented on #8
Any one know how to use DO button on homebridge?

[2016-10-13 14:28] gphr74 opened #9 "bistable switch not working"
Is it the case that bistable switches are still not working? I have buttons set up with triggeron and triggeroff, but it seems that they always revert to off after being triggered on (like push buttons).

[2016-11-09 19:15] RickNunn commented on #9
I have the exact same issue

[2016-11-10 05:11] ilcato commented on #9
Can you post your config.json?

[2016-11-11 17:15] RickNunn commented on #9
Sure thing:

[code]

[2016-11-14 11:50] #3 closed

[2016-11-14 11:51] #7 closed

[2016-11-14 11:52] ilcato commented on #9
looking into it

[2016-11-14 15:32] ilcato commented on #9
With your configuration it works for me. I see the following log:
`[2016-11-14 15:54:58] Homebridge is running on port 51826.
[2016-11-14 15:56:18] [IFTTT] Notifier sent command RickHome
[2016-11-14 15:56:18] [IFTTT] https://maker.ifttt.com/trigger/RickHome/with/key/dGQ-kfyWM2XaxOGvbNGftB
[2016-11-14 15:56:22] [IFTTT] Notifier sent command RickAway
[2016-11-14 15:56:22] [IFTTT] https://maker.ifttt

[2016-11-14 15:47] RickNunn commented on #9
Thanks @ilcato. Just going back through my logs I'm fairly sure now that because one of my other plugins is crashing Homebridge every 4-8ish hours, it's restarting automatically but, as you say, has no idea what the state of the switch should be.

I can find another way around this though I am sure. Thanks for your help.

[2016-11-14 15:47] ilcato commented on #9
ok

[2016-11-14 15:47] #9 closed

[2016-11-16 02:09] JOyo246 opened #10 "Is someone working on a method to send a value back to IFTTT?"

[2016-11-17 04:33] dotdd commented on #2
+1 for this, gonna be super useful! Any news on when would it be available?

[2016-11-29 16:09] JangoBritt commented on #10
I don't think that would work with the Maker Channel, as the Maker channel only receives a single trigger command, and not a value to go with it.

[2016-12-09 12:48] jacobwtyler commented on #2
+1 for this. I'd love to have the status persist. I only us homebridge for this so alignment would be non issue. Thanks for all the work!!

[2016-12-09 13:21] jacobwtyler opened #11 "Persist For TriggerOn function request"
Is there anyway I could modify the config file to add the ability to remember the state of my IFTTT toggle switches in the Home app? It reverts to Off everytime the Home app refreshes the devices. I'm using TriggerOn and TriggerOff for these switches and I understand it could get out of sync but it won't be an issue for me as I only control these IFTTT commands through Homebridge. Thanks for all t

[2016-12-13 21:42] lwhuybrechts commented on #2
+1, this would make the plugin perfect to use from the homekit view in control centre in iOS 10. Anyway thanks for the awesome work so far 👍

[2016-12-18 11:15] abataille commented on #11
To accomplish this, I suggest the following small changes to the index.js

at the end of index.js insert a line in function IFTTTAccessory so that it reads

function IFTTTAccessory(services) {
    this.onoffstate = false;
    this.services = services;
}

in bindCharacteristisEvents: (line  152 change else if ... else to
else if (value == 0)
	{trigger = service.controlService.triggerOff;

[2016-12-18 12:30] ilcato commented on #11
Did you test it?

[2016-12-18 13:02] abataille commented on #11
I did and it is running in my homebridge installation.
Practically it adds an variable onoffstate to the accessory. Initially it is false and stays false if you defined a push button. In all other cases the variable is set with triggering/off.
The .get function just returns the variable.
That's it.

Sent from my iPad

[2016-12-18 19:44] ilcato commented on #11
Can you make a pull request?

[2016-12-19 08:31] abataille commented on #11
Theoretically yes, but I am for the next two weeks on iPad only.

Sent from my iPad

[2016-12-19 08:57] ilcato commented on #11
Committed a new version.
@abataille, I changed the on('get') event in order to manage also the push button case.
@jacobwtyler, are you able to test it?

[2016-12-19 09:05] ilcato commented on #2
@armins2k, @lwhuybrechts, @dotdd
can you test the latest commit to understand if it works?
I implemented the @abataille suggestion coming from #11.

[2016-12-19 09:05] ilcato commented on #8
You can't.

[2016-12-19 09:05] #8 closed

[2016-12-19 09:10] ilcato commented on #10
It seems that parameters are no more available to the Maker Channel.

[2016-12-19 10:20] abataille commented on #11
It works in my installation.

[2016-12-19 11:27] dotdd commented on #2
@ilcato How do I get the latest version? Do I install just like normally? npm install -g homebridge-ifttt

[2016-12-19 11:28] ilcato commented on #2
I didn't published it on npm yet.
Just replace (after saving it) the index.js file on you installation with the latest one on GitHub and restart homebridge.

Andrea

[2016-12-19 11:41] dotdd commented on #2
It seems to be working - tho, I have to switch and the status seems to affect both (even tho in reality only one action was taken). When I switch on my Living Room A/C, both switch are indicated as On but only Living Room one sent the action to IFTTT.

"platform": "IFTTT",
		"name": "IFTTT",
		"makerkey": "cTDiVgDTxWaIuxgZh8eb4E",
		"accessories": [{
			"name": "Living Room A/C",
			"buttons": [{

[2016-12-19 17:09] lwhuybrechts commented on #2
@ilcato tested and works perfectly! Since I have separate on/off actions in IFTTT instead of a toggle action I can press it twice when the switch gets out of sync. Btw, I only have one switch so cannot confirm the same problem as @dotdd.

@dotdd you have accidentally commented your makerkey :no_good_man: Make sure you reset it to a new key in case someone saw it. You can do this in IFTTT by clicki

[2016-12-19 17:30] dotdd commented on #2
Thanks @lwhuybrechts it's already reset. Yeah, the only problem now is if multiple switches they will change the state together.

[2016-12-27 13:04] ilcato commented on #10
@JOyo246, @JangoBritt, it is still an available feature.
I try to implement to allow a dimmer style accessory.

[2016-12-27 13:36] ilcato commented on #2
@dotdd, I replicated your issue and trying to fix it.

[2016-12-27 13:38] ilcato commented on #10
@JOyo246, what's your use case?

[2016-12-27 16:24] JOyo246 commented on #10
I want to be able to control my Aros air conditioner from HomeKit. Since the wink aros doesn't work with aros, I'm currently using IFTTT with the aros channel at 8 different degree intervals. So my home app has 8 different aros switches all with different degree values to be sent to different applets. So to set my air conditioner to 72, I say, hey Siri, turn on aros 72. All though this works, it w

[2016-12-27 17:27] ilcato commented on #2
@dotdd, I think I fixed the bug. Can you test it before I'll publish the new version? Thanks

[2016-12-27 18:11] ilcato commented on #10
So the parameter is a temperature value, is it right? If I map it to a the Temperature characteristic of a Thermostat HomeKit accessory and send any variation of the target temperature as a Maker request with a temperature parameter as a value this should be ok for you. You will be able to say "set temperature of aros to 72".

[2016-12-27 21:17] JOyo246 commented on #10
I think that's correct. The best solution would be to fix the wink-homebridge aros accessory.

Sent from my iPhone

[2017-01-02 10:37] farstreet opened #12 "sending switch as value instead of event"
I have by now +/- 15 different buttons set up in my config.json, mostly to Trigger an Automation or add a Condition to an Automation there were HomeKit currently doesn't allow it out-of-the-bow.    As IFTTT makes a http-request, I also append a line to a log file in Evernote every time one of those buttons is activated, allowing me to follow up what has been executed when.   Makes troubleshooting

[2017-01-02 10:52] ilcato commented on #12
You use case is not very clear to me. Can you elaborate it and make same example?

[2017-01-02 22:28] farstreet commented on #12
Right now, the logging and notification options to see which Scenes or automations have been executed (or at what time exactly) within the Homekit environment are pretty limited (actually, not existing even I believe).

Your IFTTT plugin makes that possible though.  By sending a web request to my IFTTT Maker channel, I can create an Applet that captures this web request and upon execution appends

[2017-01-04 04:55] dotdd commented on #2
@ilcato Happy new year. Sorry for the late. I just returned from my holiday and tested your updated file it works!

[2017-01-04 06:31] #11 closed

[2017-01-04 06:31] #2 closed

[2017-01-25 14:50] jaquesp opened #13 "Question: Is there a way to define the timeout before the switch resets?"
I have a switch with a trigger clause (no separate on/off) to call an IFTTT maker channel.
Rather than have this switch immediately return to the off position, I'd like it to stay on for a period - is this configurable?

Thanks in advance?

[2017-01-27 05:37] ilcato commented on #13
No, currently.

[2017-01-31 07:54] lyance opened #14 "Trigger an automation using IFTTT"
Hi there, is it possible to use IFTTT to trigger an automation to be executed?  I've got devices that support IFTTT but are not supported currently by HomeKit/homebridge. It would be nice to have. I understand this plugin does the opposite. Thanks!

[2017-01-31 09:27] ilcato commented on #14
@lyance, describe your use case please.
With this plugin you can generate an event FROM HomeKit TO IFTTT.

[2017-01-31 12:23] lyance commented on #14
Thanks for replying @ilcato. One use case I have in mind is using a IFTTT-enabled camera that acts as a motion sensor. If I would like a HomeKit scene to be activated when the camera detects motion (which is the If-part of an IFTTT applet ) - I wish there was a way to let HomeKit use the IFTTT-enabled camera as a sensor.

[2017-01-31 12:33] ilcato commented on #14
not sure it is physically possible.

[2017-01-31 19:04] poudenes opened #15 "Send values with the button"
Hi There,

is it possible to send some information with the trigger?

{{Value1}}, {{Value2}}, {{Value3}}, {{OccurredAt}}

The last one will filled in by IFTTT itself, but if you send send information that fill the Value1, Value2 and Value3 then you only have to create 1 MAKER and use it for multiple actions.

[2017-01-31 19:12] poudenes commented on #15
https://maker.ifttt.com/trigger/Huisleeg/with/key/API KEY/?value1=test1&value2=test2&value3=test3

This is working. but now want it into a plugin :)

[2017-02-27 11:36] daz23079 commented on #12
I would like to know how how you send a body of ["1"] or ["0"]

[2017-02-27 11:38] daz23079 opened #16 "sending body of ["1"]"
Hi in the config.json how do i send a body of ["1"] or ["0"]

[2017-03-01 05:27] ilcato commented on #16
Not possible with the current implementation. Need to add such a feature.

[2017-03-01 12:59] daz23079 commented on #16
Thanks not a problem I have worked around this

[2017-03-01 12:59] #16 closed

[2017-03-08 09:40] lprhodes commented on #14
This is definitely possible...the plugin would need to be able to toggle the virtual device state based on an ifttt request. A HomeKit automated would then have a trigger based on the the virtual devices state changing.

[2017-04-05 12:13] CarterBrehm opened #17 "Possibly accepting a return value?"
If this is still being maintained, would it be possible to accept a return value, and set the state of the switch on that? With the IFTTT maker channel sending a response when an event is triggered, this would be very useful.

[2017-04-08 14:44] JacobOJ commented on #13
@jaquesp What is your use case? I might be able to do something if I know what it is for.

[2017-05-05 05:31] webpablo opened #19 "Switch it turning itself off even though I have a triggerOn and triggerOff set."
I have setup a switch that I want to remain either on or off and to send the opposite command when toggled. For some reason, the switch when enabled, automatically disables. If I am reading the documentation right, I feel like this should only be happening if I didn't define both?

[2017-05-05 05:42] webpablo commented on #19
I was using the NPM version. After digging through closed issues I realize you addressed this very issue in the last update. Any chance of pushing to NPM for future users?

[2017-05-05 08:48] ilcato commented on #19
done

[2017-05-05 08:48] #19 closed

[2017-05-08 19:56] dkrizic opened #20 "Radio buttons possible?"
Hi,

I am using homebridge-ifttt to control my Harmony (because hombridge-harmonyhub does not work and has no filter for Activities).

I have two buttons using turnOn/turnOff. I would like to them to act like radio buttons, pressing on turns off the other. Is this possible?

[code]

Regards,

DK

[2017-05-19 18:51] rahalb opened #21 "Change Accessory type from Switch to Garage Door"
Is there any way to change how it appears in the Home App from a switch to a Garage door? For example, I have to tell siri "turn on/off the garage door" vs open/close the garage door.

[2017-05-24 05:03] dysl357085918 opened #22 "Setup question"
[2017-5-23 18:06:57] Loaded config.json with 1 accessories and 1 platforms.
[2017-5-23 18:06:57] ---
[2017-5-23 18:06:58] Loading 1 platforms...
[2017-5-23 18:06:58] [IFTTT] Initializing IFTTT platform...
[2017-5-23 18:06:58] [IFTTT] Loading accessories...
/usr/lib/node_modules/homebridge-ifttt/index.js:88
	  this.IFTTTaccessories.map(function(s) {
	                        ^

TypeError: this.IFTTT

[2017-05-24 05:45] ilcato commented on #22
which version of node.js do you have?

[2017-05-24 17:35] dysl357085918 commented on #22
v6.10.0

[2017-05-24 18:07] ilcato commented on #22
are you sure that you are using the latest version of the IFTTT plugin? It should be 0.2.2

[2017-05-28 15:28] dysl357085918 commented on #22
i solved it.

[2017-05-28 15:28] #22 closed

[2017-06-28 21:00] Brklnbnc commented on #21
Tip: You could create two scenes with your own custom names ("Open the Garage Door" and "Close the Garage Door"). Add the Switch ON for Open scene, and Switch OFF for the Close scene. Et voila :)

[2017-07-05 15:17] CooperCGN commented on #13
I have the same question, now the buttons return to fast to reliably trigger other things.

[2017-07-12 16:06] githubberboy opened #23 "Possibily to add status feedback from .xml file"
Dear ilcato, would it be possible to check the status of the accessories displayed on Homekit by reading the values inside a .xml file like this? Thanks!

<response>
<natOut1>"status of channel 1 [1:0]"</natOut1>
<natOut2>"status of channel 2 [1:0]"</natOut2>
<natOut3>"status of channel 3 [1:0]"</natOut3>
<natOut4>"status of channel 4 [1:0]"</natOut4>
</response>

[2017-07-24 19:36] marcodesantis71 opened #24 "iOS 11 Beta 4 Not working"
Hi,

I just installed iOS 11 Beta 4 and now ifttt plugin not working.

No error on the logs of homrbidge. The Home App return "not responding" error.

Another iPhone with iOS 10 Works fine.

[2017-07-25 18:23] deanlyoung commented on #24
@marcodesantis71 I believe this is an issue with Homebridge. A bug was likely introduced, which broke Homebridge's connection.

[2017-10-16 18:14] DiMarcello77 commented on #7
For me it works now with with homebridge / homekit & Siri (talking dutch to her ;-) with the following configuration for Arlo security camera's:

		{
			"platform": "IFTTT",
			"name": "IFTTT",
			"makerkey": "KEY,
			"accessories": [{
				"name": "Arlo",
				"buttons": [{
					"caption": "Camera",
					"triggerOn": "Arm",
					"triggerOff": "Disarm"
				}]
			}]
		}

The result is that I get one

[2017-11-19 21:18] iRonin commented on #14
Try more advaced app than Apple's Home app.

[2017-11-20 04:49] #24 closed

[2017-11-20 15:33] iRonin opened #25 "Update npm package"
I'm using thin Docker image on Synology NAS which relies on npm packages. Thank you!

[2017-12-10 06:04] Nastras opened #26 "Adding persistence for Switch after Reboot / Restart"
Hello,
is it possible that the status of the switch after a reboot exist?

I've uncovered this feature with this plugin and would like it for the IFTTT plugin as well.

https://github.com/nfarina/homebridge-dummy

https://github.com/nfarina/homebridge-dummy/pull/5

[2017-12-21 01:25] Colorado4Wheeler opened #27 "2nd Button Not Running"
I fear this may fall on deaf ears since it appears as though this project is dead, but I set this up with two buttons and only the first will actually fire - I don't even see an attempt in the log to fire the second button hook.

[code]

[2018-01-04 23:14] ToddGreenfield commented on #26
@Nastras Give my fork a try and see if it works for you. My flight was canceled so I had some time today.
https://github.com/ToddGreenfield/homebridge-ifttt

If it works well we can do a PR to merge here. Again, I don't really use ifttt but I think this should work.

[2018-01-05 15:10] Nastras commented on #26
That's great, thank you for your efforts. I'll test it when I'm at home and let you know.

[2018-01-06 06:18] Nastras commented on #26
Hello, I usually wanted to let you know that it works. You can now make a pull request.

Thank you again!

[2018-01-06 11:06] Nastras commented on #26
That was very fast. Thanks again to you @ToddGreenfield and you @ilcato !

[2018-01-06 12:28] Nastras commented on #26
Apparently, I was happy too soon, just wanted to make the update and have found that no update is offered?

@ilcato Does the update still appear?

[2018-01-06 12:43] ToddGreenfield commented on #26
Guessing NPM hasn’t been updated/published yet. Try uninstalling and reinstalling, that should grab the current code until an npm publish.

[2018-01-06 12:46] ilcato commented on #26
Will update the mpm in a few hours. Need a pc.

[2018-01-06 12:48] Nastras commented on #26
Great. Thank you !

[2018-01-06 15:45] ilcato commented on #26
done

[2018-01-06 16:31] Nastras commented on #26
👍👍👍

[2018-01-06 16:31] #26 closed

[2018-01-07 17:55] xMAIKx opened #29 "Delay Switch is not working"
I want the switch in HomeKit to go off automatically after 5 seconds. Unfortunately, this does not work, no matter what time I set in the Config.
{
"name": "Wasserkocher Kueche",
"buttons": [{
"caption": "Wasserkocher",
"trigger": "Wasserkocher_on",
"delayOn": 5
}]
},

[2018-01-18 02:14] gid204 commented on #21
I’d also like this enhancement, @Brklnbnc work around is clever but having the visual effect in the Home app would also be nice...

[2018-03-18 10:32] cubilon commented on #13
+1

[2018-04-17 19:50] MarvelDc97 commented on #21
Would also like to know if anyone can assist with adding the option to use a GarageDoorOpener accessory/platform instead of a switch, light, or fan!

[2018-04-17 23:14] MarvelDc97 opened #30 "Can't get applet to actually trigger"
So far I have a Button Trigger set to toggle a relay on my particle photon. However, I can't get the trigger to go through. Am I doing something wrong?
![screen shot 2018-04-17 at 7 13 47 pm](https://user-images.githubusercontent.com/23303475/38903567-79d62e0a-4273-11e8-8895-4813015fe6a6.png)
![screen shot 2018-04-17 at 7 14 06 pm](https://user-images.githubusercontent.com/23303475/38903574-858e08

[2018-04-23 17:13] MarvelDc97 commented on #21
Just figured it out! If you change controlService: new Service.Switch(s.buttons [b].caption to controlService: new Service.GarageDoorOpener(s.buttons [b].caption on line 117 it shows up as a garage door accessory. However, I do not know how to account for a sensor if attached

[2018-06-01 13:29] jungopro opened #31 "IFTTT Assistance"
Hi
Not sure if this is the right place to post, but I will try
I want to use the IFTTT plugin for a simple automation:
- if the weather tomorrow will be below 20 degrees Celsius, turn on the boiler

I have a plugin already installed in homebridge that turns the boiler on/off, but I'm unsure how to start integrating IFTTT and write my own automation in IFTTT.
I know this is not a pure homebridge pl

[2018-06-12 17:13] fparrav opened #32 "Is a slider possible, as used by dimmers or thermostats?"
My idea is to create a single accessory to control a heater that only allows me to activate scenes. Currently in my current configuration I have a button to turn on and off the heater, and other buttons of the type that automatically return to off, those use to set temperatures and modes. My idea is to see if it is possible to create an accessory that allows to configure a range to slide (min and

[2018-06-28 14:44] #31 closed

[2018-07-01 13:29] jesusmarcos opened #33 "IFTTT events only thrown when connected to home app"
The behaviour I'm having is that the webhook events to IFTTT are only raised when I have the Home app open in my iPhone.

I wanted to raise IFTTT events to create a log of activations/deactivations but the events are only sent if I'm connected to Home.

Is this the normal behaviour? Is there any way to allow the events to be sent from homebridge independently of the state of my iPhone?

Many thank

[2018-07-02 16:39] jesusmarcos commented on #33
Forget about that.

Was a problem caused by another homebridge plugin.

I close the issue.

[2018-07-02 16:39] #33 closed

[2018-08-30 20:31] deadlyknapsack commented on #15
This is flagged as an enhancement, but I feel like there is nothing happening in terms of development on this plugin. Is that true? I would really like to send values as well.

[2018-09-13 07:55] greensouth commented on #17
Yeah! + 1 to this.

I have a plugin somewhere that uses an URL to retrieve the status of an accessory. Just a HTTP call  which just returns a file with "1" or "0" inside.

We could easily create a webhook at IFTTT, that could maintain a file with the status.

[2018-09-13 19:56] deanlyoung commented on #17
I recommend homebridge-cmdswitch2 and its optional state_cmd.

https://github.com/luisiam/homebridge-cmdswitch2

[2018-09-17 20:13] Jefronty commented on #23
I also would like to see a way to report status of a device in the config, but more on a per button basis like a statuUrl value in the button config object.  I think a scale response like "on", "off" or 1, 0 would greatly help.

[2019-01-31 13:25] mriksman opened #34 "Crashes When Run as Different User"
I installed the module logged in as user 'pi'.
When I run under this context, using the following;
`homebridge -U /var/homebridge`
It works as expected.

But when I run as a service, under a different user, I get;
[code]

I create the user with;
`sudo useradd --system homebridge`
And assign permissions to the appropriate files/folders;
[code]

Is there some file that IFTTT plugin needs permission

[2019-01-31 13:27] #34 closed, assigned to nobody

[2019-04-14 16:39] hepcat72 commented on #14
I have a different use-case that perhaps is somewhat similar.  I have devices that I've set homebridge up to control using homebridge-commander.  Those devices cannot be controlled via IFTTT or homekit directly (they are Etekcity outlets).  What I'm looking for is the ability to setup IFTTT applets that can turn those outlets on/off (and additionally/optionally have their state updated in the Home

[2019-04-14 17:04] githubberboy commented on #14
If I understand what you’re looking for, I think that you have to use webhooks applet in IFTTT (if your devices accept http post/get commands, of course).

[2019-04-14 17:13] hepcat72 commented on #14
No, my Etekcity devices are cheap RF outlets and can only be controlled via a 433Mhz signal. I have a remote that came with the outlets and I also bought 433Mhz transmitter and receiver chips that are plugged into a breadboard connected to the pi.  I can turn them off & on using pilight command-line calls, which I have setup using homebridge-commander.  That means I can control them via Siri, the

[2019-05-28 20:04] hangmanandhide opened #35 "Possible to use plugin to trigger an accessory?"
I am trying to figure out a workflow solution that will work that will allow me open and close my garage. Using the homebridge-liftmaster2 plugin I can effectively open and close the garage with siri, but for me to be able to do this with my google assistant/home hubs I will need to setup a virtual switch with Samsung's SmartThings hub.

My hope is that I can use this homebridge-ifttt plugin to cr

[2019-06-14 02:00] rob0101 opened #36 "user is null in local"
I can't get past this error.

[eWeLink] Server did not response with an authentication token. Response was [{"error":401,"info":"user is null in local"}]

Running on a raspberry pi.

Anyone able to help ?

Trying to get a couple of wifi smart sockets working.
Both controllable in the iPhone app.
Tried logging out of the app.
Tried changing the app version number to match the phone (3.6.1).

thanks

[2019-06-14 02:01] #36 closed

[2019-07-19 08:03] rgerr commented on #35
Of course, simply create an automation in which you state if accessory one is on, then turn on accessory two.

[2019-07-19 08:04] rgerr commented on #29
Are you sure it is seconds, not minutes?

[2019-10-01 12:18] omriavital opened #37 "Could there be an issue with 'stateful'"
Here is the config setup of my ifttt:
"platforms": [
        {
            "platform": "IFTTT",
            "name": "IFTTT",
            "makerkey": "----",
            "accessories": [
                {
                    "name": "Wyze Cam Alerts",
                    "buttons": [
                        {
                            "triggerOn": "enable_wyze",
                            "trigg

[2019-10-25 19:54] meistermolli opened #38 "Buttons disappear and come Back"
Hi,

the plugin is working with my homebridge.

I have testet some different types of buttons, but they all disappear. Sometimes they come back after few minutes, sometimes after restart HomeKitApp, but sometimes just after restart homebridge.

Is there maybe something wrong in my Config?
{
            "platform": "IFTTT",
            "name": "IFTTT",
            "makerkey": "here is my Makerkey",

[2020-01-07 17:08] childledj commented on #21
Please describe - how to make it?

[2020-01-07 19:24] childledj commented on #21
I've change it, but button stops work

[2020-02-10 23:17] burkybang commented on #10
@JOyo246 I just submitted a PR that does this.

https://github.com/ilcato/homebridge-ifttt/pull/39

[2020-02-10 23:18] burkybang commented on #15
I just submitted a pull request adding this feature: https://github.com/ilcato/homebridge-ifttt/pull/39

[2020-02-10 23:22] JOyo246 commented on #10
@burkybang thanks! However the home bridge-wink3 accessory has been working great for me!

[2020-02-10 23:27] burkybang commented on #10
@JOyo246 Cool, hopefully others who don't use Wink can get use out of this.

[2020-02-13 07:07] ilcato commented on #10
Published in version 0.4.0

[2020-02-13 07:07] #10 closed

[2020-02-13 07:07] ilcato commented on #15
Published in version 0.4.0

[2020-02-13 07:07] #15 closed

[2020-02-16 13:29] brandungskieker opened #41 "No use of different values for same trigger"
Just want to use different values to one single trigger at IFTTT: **{{value1}} is till open**. I set the config like this:
[code]

Homebridge start aborted with error

`Error: Cannot add a Service with the same UUID '00000049-0000-1000-8000-0026BB765324' and subtype 'window_open' as another Service in this Accessory.`

If I use window_open1 and window_open2 instead everything works as expected.

B

[2020-02-16 13:43] #41 closed

[2020-04-10 16:22] Malemati opened #43 "Send accessories current values in value1, value2 and value3"
Hi,

Not sure this is an issue, perhaps an improvement request ...
I would like to be able to send to IFTTT the actual value of an accessory (for exemple an actual temperature) when the IFTTT Webhooks is called.
No problem to send fixed values but do not find how to send a dynamic one. I do not find any right syntax in config.json.
Is it possible actually and how ?

Thanks in advance.

Regards.

[2020-04-18 15:15] DJay-X opened #44 "[FEATURE] Eve App 4.2 Issue with homebridge-ifttt"
@ilcato
The lates Eve for HomeKit App v4.2 is causing issues with several Homebridge Plugins.
They changed something so that the serial number of a device is linked somehow in the background. This was not in the previous Eve versions.
Problems causing now like described here.
https://github.com/homebridge/homebridge/issues/2503

So all devices/switches created by homebridge-ifttt can't be sorted a

[2020-05-16 13:17] DJay-X commented on #44
@ilcato
https://github.com/homebridge/homebridge/issues/2503#issuecomment-620215515

[2020-05-16 13:17] #44 closed

[2020-06-28 23:42] barack65 opened #45 "about the json"
"caption": "A1-1",
							"triggerOn": "T1-1On",
							"triggerOff": "T1-1Off",
							"delayOn": 4,
							"delayOff": 3,
							"stateful": true
						},

**what is the T1-1ON ?**

[2020-12-16 09:22] mitchelljohnson19 opened #46 "Turning Things Off"
Hi, Great tool using it with SwitchBot's to control various things. Ive got my "TurnOn and TurnOff" commands set to the same Webhook in IFTTT as its the same button for on and off. However I have issues in Homekit, the button hold the state but even if switch is off and you use it in a routine, it will still try and turn it off again therefore actually turning the device on. Hope that makes sense,

[2020-12-16 14:49] donavanbecker opened #47 "Homebridge Verified"
@ilcato, have you thought about getting your plugin[ Homebridge verified](https://github.com/homebridge/verified)?

[2021-02-25 00:06] benmkoch opened #49 "1.0.1 update bugs?"
Since I updated the plug-in my switches have disappeared. I didn't change the json code after updating (first 1.0.0 and now 1.0.1) and the switches worked fine previously. Is there something I'm missing? The accessories load (according to the log) when restarting Homebridge, but they don't appear on the accessories page or on my ios device. Thanks for your help! This plug in is great!

[2021-02-25 04:38] ilcato commented on #49
@donavanbecker, can you look at it?

[2021-02-25 04:39] ilcato commented on #49
@benmkoch, can you share your config?

[2021-02-25 14:47] benmkoch commented on #49
Thanks for looking into this! Below is my IFTTT config. If you'd like the complete file, I can share that too.

    {
            "name": "IFTTT",
            "makerkey": "cvxE7mD0bv6NYlx5-UBCyi",
            "accessories": [
                {
                    "name": "Bedroom Ceiling Fan",
                    "buttons": [
                        {
                            "caption": "Ceilin

[2021-02-25 14:48] benmkoch commented on #49
Thanks for looking into this! Below is my IFTT config.

    {
            "name": "IFTTT",
            "makerkey": "REDACTED",
            "accessories": [
                {
                    "name": "Bedroom Ceiling Fan",
                    "buttons": [
                        {
                            "caption": "Ceiling Fan",
                            "triggerOn": "BedFanOn",

[2021-02-25 19:03] ilcato commented on #49
@benmkoch, it works for me with your config. Try to remove the accessories folder and restart homebridge.

[2021-02-25 19:31] donavanbecker commented on #49
sorry @ilcato just got to this.

[2021-02-26 06:59] richsc opened #50 "Update 1.0.1 Issue"
After installing the latest update the triggerOff command no longer works.

When the accessory is turned on it works as normal, when it is subsequently turned off the triggerOn command is sent instead of the triggerOff command.

Reverting back to version 0.4.1 resolves the issue.

[2021-02-26 14:20] benmkoch commented on #49
@ilcato @donavanbecker Homebridge just released a new update which I installed and seemed to have fixed the issue. Apologies for the unnecessary red flag. I appreciate your work!

[2021-02-26 14:20] #49 closed

[2021-02-27 08:18] ilcato commented on #50
@richsc, should be fixed in 1.0.2

[2021-02-27 08:19] ilcato commented on #46
@mitchelljohnson19  not sure to understand the issue ...

[2021-02-27 08:22] ilcato commented on #45
@barack65, it is the event name sent to IFTTT in las of turning the button on in HomeKit.

[2021-02-27 08:24] barack65 commented on #45
Yes, but I stop use the ifttt platform

[2021-02-27 08:27] ilcato commented on #37
@omriavital can you try with the latest version?

[2021-02-27 08:27] #35 closed

[2021-02-27 08:28] #29 closed

[2021-02-27 08:28] #27 closed

[2021-02-27 08:29] ilcato commented on #25
Is this still an issue?

[2021-02-27 08:32] ilcato commented on #45
ok, closing.

[2021-02-27 08:32] #45 closed

[2021-02-27 09:07] richsc commented on #50
Thanks for quick response.

[2021-02-27 09:07] #50 closed

[2021-02-27 16:29] ethempekin commented on #46
I used this for blink automation with the homebridge. All of a sudden my cameras are not turning off.

[2021-03-27 05:39] CooperCGN commented on #37
Hello, doesn’t work for me with the latest version too. Using it on a fresh setup of homebridge with the official homebridge image.

[2021-07-06 16:56] #32 closed

[2022-02-22 15:24] Niklas31 commented on #37
I have a problem with Stateful as well. It ignores whatever I defined and simply keeps the accessory on. No matter if it was set to true or false

[2022-05-02 11:55] #38 closed

[2022-08-21 19:39] adavison007 opened #58 "On / Off State"
Hi, I've set this up to (nice job) to turn on my kettle, however the homekit switch button remains on even after the kettle has boiled? the smarter kettle has an Ifttt applet, so I could set it up so that once the kettle has boiled it triggers and send a command back to your plugin, but I can't see how to send the ifttt command back... or is there another way of doing this?

[2022-11-23 21:30] stuart-harvey commented on #58
Hi, I have the same issue / question. I have a plug socket, which I have linked in to IFTTT which means I can turn it on or off. However, if someone physically turns it on via the wall socket itself, I am not able to feed this change back to Homebridge, so only remembering the last state triggered via Homebridge.

Is there a way / webhook so we are able to feed back a 'state'? In IFTTT I can add a